body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  h2 {
    color: #333;
  }
  
  input {
    padding: 8px;
    width: 60%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button:nth-child(2) {
    background-color: #6d0000;
  }
  
  button:nth-child(2):hover {
    background-color: #ff0000;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li.completed {
    text-decoration: line-through;
    color: gray;
  }
  